main {
    min-height: 100vh;
    background-color: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
}

.container {
    background-color: #1f1f1f;
    margin: auto;
    padding: 20px 40px;

    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

    color: #fff;
}

.container .titulos {
    line-height: 2.5rem;
}

.container .titulos h2 {
    color: #c7e350;
    font-size: 1.2rem;
}

.container .about img {
    width: 30%;
    border-radius: 9999px;
}

.container .about .titulos, p {
    text-align: center;
}

.container .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.container .links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container .links a button {
    width: 100%;
    padding: 20px 20px;
    border-radius: 8px;
    border: none;
    background: #333;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.container .links a button:hover {
    background: #4e4e4e;
}